@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#crafting-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width:70vh;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: 2vh;
    border-radius: 5px;
}

#crafting-header {
    font-weight: 900;
    font-size: 1.8vh;
    margin: 1vh 1vh 0;
}

#crafting-side {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    margin-right: 0.5vh;
    border-radius: 5px;
    padding: 1vh;
}

#blueprint-slots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blueprint, .recipe-img {
    position: relative;
    background-color: rgb(102 102 113 / 30%);
    border: 1px solid rgba(255, 255, 255, 0.02);
    margin: 0.2vh;

    height: 13vh;
    width: 13vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blueprint-text, .recipe-text {
    position: absolute;
    top: 1%;
    left: 2%;
    font-size: 1.25vh;
    font-weight: 400;
}

.blueprint:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.craft-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vh;
}

.craft-img img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 100%;
}

#crafting-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vh 2vh 2vh;
    overflow-y: scroll;
    gap: 0.4vh;

}

#crafting-recipes::-webkit-scrollbar {
    display: none;
}

.recipe {
    display: flex;
    background-color: rgba(43, 43, 43, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.02);
    height: 14vh;
}

.recipe:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.recipe-img {
    background-color: rgba(39, 39, 39, 0.3);
    width: 13vh;
    height: 13vh;
    margin: 0.5vh;
}

.recipe-components {
    overflow-y: auto;
    font-size: 1.25vh;
    font-weight: 400;
    margin-top: 1vh;
    margin-left: 1vh;
    width: 17vh;
}

.recipe-components::-webkit-scrollbar {
    width: 3px;
}

.recipe-components::-webkit-scrollbar-track {
    width: 3px;
    background-color: rgb(75, 75, 75);
}

.recipe-components::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.component {
    display: flex;
    align-items: center;
    margin-bottom: 0.6vh;
}

.component img {
    width: auto;
    height: auto;
    max-width: 2.5vh;
    max-height: 2.5vh;
    margin-right: 0.8vh;
}

#craft, #discard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 30, 30, 1);

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    font-weight: 900;
    position: absolute;
    border-radius: 5px;
}

.menu-button {
    text-align: center;
    padding: 1vh 2vh;
    width: 9vh;
}

#craft-one {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#max-craft {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#discard .menu-button {
    border-radius: 5px;
}

.menu-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

#search {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='M508.9 478.7L360 330a201.6 201.6 0 0045.2-127.3C405.3 90.9 314.4 0 202.7 0S0 91 0 202.7s91 202.6 202.7 202.6c48.2 0 92.4-17 127.3-45.2L478.7 509c4.2 4.1 11 4.1 15 0l15.2-15.1c4.1-4.2 4.1-11 0-15zm-306.2-116c-88.3 0-160-71.8-160-160s71.7-160 160-160 160 71.7 160 160-71.8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235C5D71'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 2vh;
    background-position: 1vh 50%;
    
    background-color: transparent;
    border: none;
    padding: 0.5vh 4vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    width: 88%;
    margin: 0.5vh auto 0;
}

#search:focus {
    outline: none;
}